<!DOCTYPE html>
<html>
<head>
    <title>Yarışma Sonuçları</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Yarışma Sonuçları</h1>
    <table>
        <tr>
            <th>Oyuncu</th>
            <th>Puan</th>
            <th>Doğru Sayısı</th>
            <th>Yanlış Sayısı</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        {% for player, player_data in data.items() %}
            <tr>
                <td>{{ player }}</td>
                <td>{{ player_data.puan }}</td>
                <td>{{ player_data.ds }}</td>
                <td>{{ player_data.ys }}</td>
                <td>{{ player_data.sorular.s1 }}</td>
                <td>{{ player_data.sorular.s2 }}</td>
                <td>{{ player_data.sorular.s3 }}</td>
                <td>{{ player_data.sorular.s4 }}</td>
                <td>{{ player_data.sorular.s5 }}</td>
                <td>{{ player_data.sorular.s6 }}</td>
                <td>{{ player_data.sorular.s7 }}</td>
                <td>{{ player_data.sorular.s8 }}</td>
                <td>{{ player_data.sorular.s9 }}</td>
                <td>{{ player_data.sorular.s10 }}</td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>
